<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Budget App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body ng-app='MyApp'>

  <h1>Personal Budget Tracker</h1>
  <div ng-controller='mainCtrl' class="container">

  <div id="container">
    <div id="formEntry" class="row">
      <form class="form-inline">
        <div class="form-group">
          <label for="inputTask">Transaction</label>
          <input type="name" class="form-control" id="transEntry" placeholder="Enter Transaction" value="" required ng-model="transaction.desc">
        </div>
        <div class="form-group">
          <label for="inputDate">Date</label>
          <input type="date" class="form-control" id="dateEntry" placeholder="Enter Date" value="" ng-model="transaction.date">
        </div>
        <div class="form-group">
          <label class="amount" for="inputAmount">Amount</label>
          <div class="input-group">$</div>
          <input type="number" class="form-control" id="amountEntry" placeholder="Enter Amount" step=0.01 required ng-model="transaction.amount">
        </div>

      <button ng-class="red" id="debit" ng-click='recordDebit("debit")' class="btn btn-danger red">Withdrawal</button>
      <button ng-class="green" id="credit" ng-click='recordCredit("credit")' class="btn btn-success green" ng>Deposit</button>
      </div>
      <button id="newEntry" ng-click='addTrans()' class="btn btn-success btn-lg">Add New Entry</button>
     </form>
    </div>

  <div id="list" class="container">
    <h2>2016  Current Balance: {{getBalance()}}</h2>

      <div class="form-group">
        <label for="filter">Search</label>
        <input ng-model="filterText" type="text" class="form-control">
       </div>

      <div class="table-reponsive">
        <table class='table' ng-show='transactions.length'>
        <thead>
            <tr>
            <th>#</th>
            <th>Description</th>
            <th>Date</th>
            <th>Amount</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
         <tbody>
           <tr ng-repeat='transaction in transactions | filter: filterText track by $index'  ng-class='{lightsteelblue: even}'>
             <td>{{$index + 1}}</td>
            <td>{{transaction.desc}}</td>
            <td>{{transaction.date | date}}</td>
            <td>{{transaction.amount | currency}}</td>
             <td>
               <button type="button" ng-click="deleteTrans(transaction)" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal"data-toggle="modal" data-target="#myModal">
                 <span class="glyphicon glyphicon-pencil"></span>
               </button>
             </td>
             <td>
               <button ng-click="deleteTrans(transaction)" type="button" class="btn btn-primary btn-sm">
                 <span class="glyphicon glyphicon-trash"></span>
               </button>
             </td>
             </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <script src="http://momentjs.com/downloads/moment.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="main.js"></script>
  </body>
</html>
